body{
  padding:0;
  margin:0;
  overflow: hidden;
}
#table {
  height: 361px;
  width: 298px;
  margin: 0 auto;
  overflow: hidden;
  background: url("images/table.png") no-repeat #000;
  padding: 55px 11px 0 11px;
}
.card {
  display: inline-block;
  margin-bottom: 5px;
  
}
.card:nth-child(2), .card:nth-child(5), .card:nth-child(8), .card:nth-child(11), .card:nth-child(14) {
  margin-right: 5px;
  margin-left: 5px;
}

.face {
  background: url("images/card.png") no-repeat;
  height: 38px;
  width: 80px;
  padding: 8px;
  text-align: center;
  
}
.face.selected{
  background-position: 0 -108px;
}
.face img {
  padding-top: 1px;
}
.face img:first-child {
  margin-right: 1px;
}
.face img:last-child {
  margin-left: 1px;
}