body{
  padding:0;
  margin:0;
  background:#333;
}
#table, #table.before-deal{
  height: 361px;
  width: 298px;
  margin: 0 auto;
  overflow: hidden;
  background: #000 url("images/table.png") no-repeat;
  padding: 55px 11px 0 11px;
  -webkit-transition: all 0.6s ease-out;
}

.card {
  display: inline-block;
  margin-top: 0px;
  opacity: 1;
  margin-bottom: 5px;
  -webkit-transition: all 0.6s ease-out;
}
.visible {
  opacity: 1;
}
.hidden {
  opacity: 0;
}
#card2, #card5, #card8, #card11, #card14 {
  margin-right: 5px;
  margin-left: 5px;
}

.face {
  opacity: 1;
  height: 38px;
  width: 80px;
  padding: 8px;
  background: url("images/card.png") no-repeat;
  text-align: center;
  -webkit-transition: all 1.2s ease-in;
}
.face.selected{
  background-position: 0 -108px;
}
.face .mark {
  margin-top: 1px;
}
.face .mark:first-child {
  margin-right: 1px;
}
.face .mark:last-child {
  margin-left: 1px;
}
.mark {
  width:26px;
  height:34px;
  overflow:0;
  display:inline-block;
}
.heart {
  background-image: url("images/hearts.png");
}
.club {
  background-image: url("images/clubs.png");
}
.diamond {
  background-image: url("images/diamonds.png");
}
.red-clear {
  background-position: 0 0;
}
.blue-clear {
  background-position: 0 -34px;
}
.green-clear {
  background-position: 0 -68px;
}
.red-stripe {
  background-position: 0 -102px;
}
.blue-stripe {
  background-position: 0 -136px;
}
.green-stripe {
  background-position: 0 -170px;
}
.red-full {
  background-position: 0 -204px;
}
.blue-full {
  background-position: 0 -238px;
}
.green-full {
  background-position: 0 -272px;
}

/*  Style code for transitions  */
/*  Opening transition for 12 cards  */
.before-deal .face{
  opacity: 0;
}
.before-deal #card1 {
  -webkit-transform: translate(-130px,-130px);
}
.before-deal #card4 {
  -webkit-transform: translate(-100px, -50px);
}
.before-deal #card7 {
  -webkit-transform: translate(-100px,50px);
}
.before-deal #card10 {
  -webkit-transform: translate(-130px,130px);
}
.before-deal #card3 {
  -webkit-transform: translate(130px,-130px);
}
.before-deal #card6 {
  -webkit-transform: translate(100px, -50px);
}
.before-deal #card9 {
  -webkit-transform: translate(100px, 50px);
}
.before-deal #card12 {
  -webkit-transform: translate(130px,130px);
}
.before-deal #card2 {
  -webkit-transform: translate(0,-130px);
}
.before-deal #card5 {
  -webkit-transform: translate(0, -50px);
}
.before-deal #card8 {
  -webkit-transform: translate(0, 50px);
}
.before-deal #card11 {
  -webkit-transform: translate(0,130px);
}